{{#each products as |product|}}
<tr>

 <td><p>{{product.name}}</p></td>
 <td><p>{{product.price}}</p></td>
 <td><p> {{product.updated_at}}</p></td>
 <!-- <td><p> {{product.quantity}}</p></td> -->



<td>
  <!-- update product quantity button -->
  <!-- <button data-id="{{product.id}}" type="button" id="updateQuantity" class="btn-default updateQuantityHandlebarsButton" data-toggle="modal" data-target="#updateQuantityModal"><i data-id="{{product.id}}" class="fa fa-pencil" aria-hidden="true"></i> </button> -->
  <!-- remove product button -->
  <button data-id="{{product.id}}" type="button" class="deleteButton btn-default"><i data-id="{{product.id}}" class="fa fa-trash" aria-hidden="true"></i></button>


</td>
</tr>


{{/each}}
